@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&family=Playfair+Display:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    max-width: 100%;
    font-family: "Lato", sans-serif;
}
ol{
    list-style-type: none;
}

/* TOP NAVBAR */

.top-nav{
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: .5rem 4rem;
}
.top-nav__phone{
    display: flex;
}
.top-nav__phone-number{
    padding-left: 1rem;
}
.top-nav__login{
    display: flex;
}
.top-nav__login-item{
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid black;
}
.top-nav__login-item:last-child{
    border-right: 1px solid transparent; /*uklanjanje poslednje crtice*/
}

/* MAIN NAVBAR */

.main-nav{
    margin-left: 3rem;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr .5fr;
}
.main-nav__menu-item{
    padding: 1rem;
    display: inline;
}
.main-nav__menu-link{
    font-family: 'Playfair Display', serif;
}
.main-nav__menu-link, .top-nav__login-link{
    text-decoration: none;
    color: black;
}
.main-nav__logo{
    font-size: 4rem;
    text-align: center;
}
.main-nav__icons{
    text-align: center;
}
.main-nav__icons-icon{
    padding-right: 1rem;
}
.main-nav__language{
    text-align: center;
}
.main-nav__language-options{
    background-color: black;
    padding: .5rem 1rem;
    color: white;
}

/* MAIN CONTAINER */
.main-container{
    position: relative;
}
.main-container__image-img{
    max-width: 100%;
    max-height: 592px;
    width: 100%;
}

/* SALE BOX */
.sale-container{
    position: absolute;
    bottom: 12rem;
    width: 100%;
    text-align: center;
}
.sale-container__box{
    position: relative;
    width: 15.22rem;
    height: 15.22rem;
    max-width: 15.22rem;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid white;
    outline: 2px solid white;
    outline-offset: .5rem;
}
.sale-container__box p{
    color: white;
    padding: 1rem;
}
.sale-container__box h3{
    letter-spacing: .1rem;
}
.sale-container__box h1{
    font-size: 3rem;
}
.sale-container__box-line--s1, .sale-container__box-line--s2{
    position: absolute;
    border-bottom: 1px solid white;
    width: 2rem;
}
.sale-container__box-line--l1, .sale-container__box-line--l2{
    position: absolute;
    border-bottom: 1px solid white;
    width: 4rem;
}
.sale-container__box-line--s1{
    top: 9.6rem;
    left: 3rem;
}
.sale-container__box-line--s2{
    top: 9.6rem;
    left: 10rem;
}
.sale-container__box-line--l1{
    top: 10rem;
    left: 1rem;
}
.sale-container__box-line--l2{
    top: 10rem;
    left: 10rem;
}

.btn-shop{
    font-size: 1.6rem;
    background-color: #F09D66;
    width: 10.5rem;
    height: 3rem;
    color: white;
    margin-top: 2rem;
    border: 1px solid transparent;
}
.slider-control{
    text-align: center;
    position: relative;
    bottom: 3rem;
}

/* PAYMENT CONTAINER */

.payment-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-container__shipping{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./images/shipping.png");
    background-size: 100% 100%;
    width: 24rem;
    height: 5.6rem;
    min-height: 5.6rem;
    min-width: 24rem; 
    color: white;

}
.payment-container__cashback{
    display: flex;
    background: url("./images/returns.png");
    background-size: 100% 100%;
    width: 24rem;
    height: 5.6rem;
    min-height: 5.6rem;
    min-width: 24rem;
    align-items: center;
    justify-content: center;
    color: white;

}
.payment-container__support{
    display: flex;
    background: url("./images/support.png");
    background-size: 100% 100%;
    width: 24rem;
    height: 5.6rem;
    min-height: 5.6rem;
    min-width: 24rem;
    align-items: center;
    justify-content: center;
    color: white;

}
.payment-container__icons{
    padding-right: 1rem;
}

@media screen and (max-width: 800px) {
    .payment-container{
        flex-direction: column;
    }
}
